@import "~bootstrap/scss/bootstrap";

body{
    background-image: url('./assets/triangle.jpg');
    background-size: cover;
}

.main{
    display:flex;
}

.projets{
    width: 100%;
    display:flex;
}

.stepper{
    margin-left: auto;
    margin-right: auto;
}
